@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0px;
}

h1 {
	margin-top: 10px;
	font-size: 25px;
}

body {
	background:
		url("/liqinglin_onlineOrderMealsSystem/image/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	width: 550px;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 10% auto;
	padding: 5px 20px;
}

.button, .reset {
	background-color: #ffff80;
	height: 32px;
	width: 30%;
	font-size: 10px;
	margin: 4px auto;
}

.phone, .shopkeeperName, .phone, .storeName,
	.storeDescription, .address {
	width: 60%;
}

.phone, .shopkeeperName, .phone,
	.storeName,  .address {
	height: 25px;
	font-size: 12px;
	margin: 10px auto;
}

.storeDescription{
	height: 100px;
	font-size: 12px;
	margin: 10px auto;
}


.checkcontent {
	width: 60%;
}

.checkcode {
	width: 100%;
}

.myform {
	margin-left: 25%;
}
